h2 {
  font-family: Arial;
  color: Violet;
  font-size: 50px;
text-align: CENTER;
}
h3 {
  font-family: Arial;
  color: blue;
  font-size: 25px;
text-align: CENTER;
}
h4 {
  font-family: Arial;
  font-size: 72px;
  color: Violet;
}
h5{
  font-family: Arial;
  font-size: 40px;
}
  p {
    font-family: Arial;
    color: white;
    font-size: 24px;
}
body{
 font-family: Arial;
    color: blue ;
    font-size: 24px;
}
body{
  background-color:	black;
}